What does `self.scim_mutable_attributes` do?

Hi! Thanks for the great gem, it's been an enormous help to me!

While configuring my user model, I ran into the following question: What does the `self.scim_mutable_attributes` do? I couldn't find any reference to it anywhere in the scimitar code, aside from its documentation at [app/models/scimitar/resources/mixin.rb:176](https://github.com/RIPAGlobal/scimitar/blob/faba4693512409f4224e1965c2fecf0b4d9db0a1/app/models/scimitar/resources/mixin.rb#L176). Changing the contents of this method from `nil` to anything else does not seem to affect which attributes can be modified by PATCH requests. However, it is a mandatory method.

I could find the `mutability` attribute in [Section 7 of RFC 7643](https://datatracker.ietf.org/doc/html/rfc7643#section-7), but did not manage to figure out how Scimitar interacts with that property. Changing the `scim_mutable_attributes` does not seem to influence the `mutability` field when performing a GET on the `/Schemas` endpoint.

Could you help me figure out what's going on with the `scim_mutable_attributes` field? I'd be happy to contribute a PR with whatever is needed!

#### Experiments

Given the following config:

```ruby
class User < ApplicationRecord
  # ..
  # All the other mandatory methods here.
  
  def self.scim_attributes_map
    {
      externalId: :external_id,
      userName: :name
    }
  end

  def self.scim_mutable_attributes
    [:external_id]
  end
  
  include Scimitar::Resources::Mixin
end
```

It would be expected that the `external_id` is the only field that is mutable by PATCH requests through the SCIM API.

However, when performing a PATCH request with the following body:

```json
{ 
  "Operations": [
    {
      "op": "replace",
      "path": "userName",
      "value": "ryan3"
    },
    {
      "op": "replace",
      "path": "externalId",
      "value": "a-new-external-uuid"
    }
  ]
}
```
Given a user with the following attributes:
```ruby
> User.first
=>
#<User:0x00000001087a3c18
  ...other_fields
  name: "ryan1"
  external_id: nil>
```
Both fields are updated:
```ruby
> User.first
=>
#<User:0x00000001087a3c18 
  ...other_fields
  name: "ryan3"
  external_id: "a-new-external-uuid">
```

I could also change the `self.scim_mutable_attributes` to a seemingly invalid result with no effect on SCIM queries or exceptions:

```ruby
def self.scim_mutable_attributes
  'This is just a short string'
end
```

Sorry this took forever to look into.

It's interesting. `Scimitar::Resources::Mixin` has [RDoc information on it](https://www.rubydoc.info/github/RIPAGlobal/scimitar/main/Scimitar/Resources/Mixin#label-scim_mutable_attributes) and it's something I wrote some time ago. There's a bit of test coverage that doesn't look entirely fleshed out, a passing reference in `README.md` which is just the "returns `nil`" implementation and - that's it.

I can't actually see any _code_ to implement it!

This looks like a feature that was in one of the source gems from which Scimitar was built and, given the documentation, something that was intended to be used. However, it looks like it never had any implementation.

Given that the read-or-write status of SCIM attributes is meant to come from the spec anyway, I'm not sure the concept has much value. Nobody else has ever mentioned it being used but not working in all this time. **I'm inclined to simply strip out all the existing code and docs** to avoid future confusion. What do you think?

@rjclaasen ^^^

I came across the same issue today. I'm surprised to see this method not being used/referenced anywhere else.

It is still beneficial to have it. Ie if we don't want the user to mutate the `active` attribute on create/replace, we should be able to return a set that doesn't contain `active` in this method, and on creation or replace operation, the `active` value supplied by the user will be ignored.

An alternative would be to allow for the mutability of the SCIM schema to be determined by the gem user (ie we can say the `active` attribute is read-only).